---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import ImagesGridSection from '../components/ImagesGridSection.astro';
import StandoutSection from '../components/StandoutSection.astro';
import TransformSection from '../components/TransformSection.astro';
import TwoImagesSection from '../components/TwoImagesSection.astro';
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">

	<main>
		<Header/>
		<TransformSection/>
		<StandoutSection/>
		<TwoImagesSection/>
		<TestimonialsSection/>
		<ImagesGridSection/>
		<Footer/>
	</main>

</Layout>




