---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import Gallery from '../components/Gallery.astro';
import Standout from '../components/Standout.astro';
import Images from '../components/Images.astro';
import Transform from '../components/Transform.astro';
---

<Layout title="Frontend Mentor | Sunnyside agency landing page">

	<main>
		<Header/>
		<Transform/>
		<Standout/>
		<Images/>
		<Testimonials/>
		<Gallery />
		<Footer/>
	</main>

</Layout>




