
<section>
    <div class="grid grid-cols-2 lg:grid-cols-4">
        <picture>
            <source class="h-full w-full" srcset="/images/mobile/image-gallery-milkbottles.jpg" media="(max-width: 1023px)">
            <img class="h-full w-full" src="/images/desktop/image-gallery-milkbottles.jpg" alt="">
        </picture>
        <picture>
            <source class="h-full w-full" srcset="/images/mobile/image-gallery-orange.jpg" media="(max-width: 1023px)">
            <img class="h-full w-full" src="/images/desktop/image-gallery-orange.jpg" alt="">
        </picture>
        <picture>
            <source class="h-full w-full" srcset="/images/mobile/image-gallery-cone.jpg" media="(max-width: 1023px)">
            <img class="h-full w-full" src="/images/desktop/image-gallery-cone.jpg" alt="">
        </picture>
        <picture>
            <source class="h-full w-full" srcset="/images/mobile/image-gallery-sugar-cubes.jpg" media="(max-width: 1023px)">
            <img class="h-full w-full" src="/images/desktop/image-gallery-sugarcubes.jpg" alt="">
        </picture>
    </div>
</section>