<section class="flex flex-col lg:flex-row w-full">

    <!-- Graphic design section -->
    <div class="bg-[url('/images/mobile/image-graphic-design.jpg')] md:bg-[url('/images/desktop/image-graphic-design.jpg')] h-[600px] bg-cover bg-center  bg-no-repeat w-full">
        <div class="flex flex-col pt-[391px] pb-[50px] xl:pb-[60px] items-center">
            <h2 class=" font-black text-3xl xl:text-4xl text-center mb-10 text-[#25564B]">Graphic Design</h2>
            <p class="text-center  text-base xl:text-lg  font-semibold  max-w-[400px] text-[#458C7E]">Great design makes you memorable. We deliver artwork that underscores your brand message and captures potential clients’ attention.</p>
        </div>
    </div>

<!-- Photography section -->

        <div  class="bg-[url('/images/mobile/image-photography.jpg')] md:bg-[url('/images/desktop/image-photography.jpg')] h-[600px] bg-no-repeat bg-cover bg-center w-full">
            <div class="flex flex-col pt-[391px] pb-[50px] xl:pb-[60px] items-center">
                <h2 class=" font-black text-3xl xl:text-4xl  text-center mb-10 text-[#19536B]">Photography</h2>
                <p class="text-center  max-w-[400px] text-base xl:text-lg  font-semibold  text-[#19536B]"> Increase your credibility by getting the most stunning, high-quality photos that improve your business image.</p>
            </div>
        </div>

</section>

<style>
    h2{
        font-family: 'Fraunces';
    }

    p{
        font-family: 'Barlow';
    }

</style>